<?xml version="1.0"?>

<!-- only model spawning -->

<launch>

	<arg name="model" default="$(find arm_urdf)/urdf/main.xacro" />
	<arg name="robot_name" default="arm_robot" />
	
	<param name="robot_description" 
		command="$(find xacro)/xacro --inorder $(arg model)" />
	
	<node pkg="gazebo_ros" type="spawn_model" name="urdf_spawner"
		respawn="false" output="screen"
		args="-urdf -model $(arg robot_name) -param robot_description -z 0.05"/>

</launch>
