<?xml version="1.0"?>

<!-- only model spawning -->

<launch>

	<arg name="robot_name" default="arm_robot" />
	<arg name="model" default="$(find arm_urdf)/urdf/main.xacro" />
	<arg name="x" default="0.0" />
	<arg name="y" default="0.0" />
	<arg name="z" default="0.5" />
	<arg name="R" default="0.0" />
	<arg name="P" default="0.0" />
	<arg name="Y" default="0.0" />
	
	<param 
		name="robot_description" 
		command="$(find xacro)/xacro --inorder $(arg model)" />
	
	<node 
		pkg="gazebo_ros" name="urdf_spawner" type="spawn_model"
		respawn="false" output="screen"
		args="-urdf -model $(arg robot_name) -param robot_description
			-x $(arg x) -y $(arg y) -z $(arg z)
			-R $(arg R) -P $(arg P) -Y $(arg Y)" />

</launch>
