<?xml version="1.0" ?>
<robot name="robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
	
<!-- import -->
<xacro:include filename="macros.xacro"/>
<xacro:include filename="params.xacro"/>
<xacro:include filename="materials.xacro"/>
<xacro:include filename="gazebo.gazebo"/>
<xacro:include filename="transmission.xacro"/>

<!-- dummy link (model root) -->
<!-- see this post : 
	https://answers.ros.org/question/192817/error-msg-the-root-link_base-has-an-inertia-specified-in-the-urdf-but-kdl/
	--> 
<link name="root_link">
	<origin xyz="0 0 0" rpy="0 0 0"/>
</link>

<!-- robot chassis -->
<xacro:include filename="chassis.xacro"></xacro:include>
<joint name="root_joint" type="fixed">
	<parent link="root_link"/>
	<child  link="base_link"/>
	<origin xyz="0 0 0" rpy="0 0 0"/>
</joint>

<!-- robot manipulator -->
<xacro:include filename="arm.xacro"></xacro:include>
<joint name="arm_base_to_base" type="fixed">
	<parent link="base_link"/>
	<child  link="arm_base_link"/>
	<!-- origin : 0.5*(chassis height) + 0.5*(arm base link height) -->
	<origin xyz="0 0 0.085" rpy="0 0 0"/>
</joint>

</robot>
